@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');


$primary-color: #4EADC5;
$secondary-color: #324B72;
$teritary-color: white;

$primary-gray: #E0E0E0;

$error-primary-color: #DE212B;

$success-primary-color: #50C878;

$primary-font: 'Source Sans Pro', sans-serif;

